body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}
:root {
  --brand-color: #2196f3;
  --second-color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}
ul,
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Шапка сайта */
.nav {
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
}
.logo-web {
  color: var(--brand-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.contact-link:hover,
.contact-link:focus,
.foot-link:hover,
.foot-link:focus {
  color: var(--brand-color);
}

/* Секция герой */
.hero {
  background-color: #2f303a;
  text-align: center;
  outline: 1px solid yellow;
}
.hero-text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.hero-btn {
  padding: 10px 32px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: 'Roboto';
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* Особенности компании */
.features-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
}
/* Секция чем занимается */
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Секция команда */
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-color);
}
/* Подвал сайта */
.foot {
  background-color: #2f303a;
}
.foot-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
}
.foot-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.foot-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
/* Портфолио */
.btn-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--brand-color);
  color: #fff;
}
.project-h {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}
